/*
*
* Author: Anshuman Mishra (Senior UI Developer)
* Date Created: 15th Oct, 2017
* Package: Custom Web App
* Document: CSS for custom web app
*
*/

@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

* {
	padding: 0;
	margin: 0;
}

*:focus {
	outline: 0 !important;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans';
}

main, header, section, footer, article {
	display: block;
}